@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto
}

.playerCanvas {
  display: unset;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.floating-btn {
  position: absolute !important;
  top: unset;
  right: 1rem !important;
  bottom: 1rem !important;
  left: unset;
  z-index: 99;
  height: 4rem;
  width: 4rem;
  @apply rounded-xl flex justify-center items-center bg-black;
}

.floating-btn-bottom {
  position: absolute !important;
  top: unset;
  right: 1rem !important;
  bottom: 7rem !important;
  left: unset;
  z-index: 99;
  height: 4rem;
  width: 4rem;
  @apply rounded-xl flex justify-center items-center bg-black;
}

.album-art {
  width: 20rem;
  height: 20rem;
  border-radius: 1.5rem;
}

.wave-wrap {
  position: absolute;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  opacity: 0.08;
  z-index: -1;
}

.backImage {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0.3;
  filter: blur(0.8rem);
}

.playlistWrap {
  @apply h-full right-0;
  background-color: rgb(55, 65, 81, 0.8);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;

}

.playlistWrap .show {
  @apply w-3/12;
}

.playlistWrap .hide {
  @apply w-0;
}

.progress-bar, .circle-controller, .animate-all {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}